<html lang="es">
<head>
	<title>Test</title>
	<meta charset="utf-8" />
	<style>
		body
		{
			background:black;
		}
		#container
		{
			width:990px;
			margin:0 auto;
			border:1px #CCC;
		}
		.title-entry
		{
			font-family: sans-serif;
			color:white;
			background:#e18728;
			text-transform: uppercase;

		}
		.post-entry
		{
			color:white;
			font-family: verdana;
		}
	</style>
</head>
<body>
	<div id="container">
		<div class="title-entry">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
</body>
</html>
